{
    "presets": [
        "@babel/env", 
        "@babel/react", 
        "@babel/preset-stage-0"
    ],
    "plugins": [
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "transform-object-assign",
        "transform-decorators-legacy",
        [
            "import",
            [{
              "libraryName": "antd",
              "style": "css"
            }]
          ]
    ]
}