body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.app {
    text-align: center;
  }
  
  .app-logo {        
    width: 300px;
    pointer-events: none;
    margin-bottom: 25px;
  }

  .app-logo + p {
    font-size: 15px;
    max-width: 550px;
    color: #a9a9a9;
    margin-top: 10px;
  }
  
  .app-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .app-link {
    color: #61dafb;
    text-decoration: none;
    font-size: 15px;
    margin-top: 30px;
  }